<form {{action 'customAction' on='submit'}}>
  {{paper-input id="first-name" label="FirstName" value=firstName}}
  {{paper-input id="last-name" label="LastName" value=lastName}}
  {{#paper-button id="create-or-update" raised=true primary=true}}{{buttonName}}{{/paper-button}}
</form>