<form {{action 'customAction' on='submit'}}>
  {{paper-input label="FirstName" value=firstName}}
  {{paper-input label="LastName" value=lastName}}
  {{#paper-button raised=true primary=true}}{{buttonName}}{{/paper-button}}
</form>