{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-button action="transitionTo" param="animals"}}Animals{{/paper-button}}
    {{#paper-button id="new-animal" action="transitionTo" param="animals.new"}}Add New Animal{{/paper-button}}
  </div>
{{/paper-toolbar}}
{{outlet}}